<div class="container">
  <h2 class="text-center">CONFIRMACION DE RESERVA</h2>

  <h5 class="text-center">Gracias {{nombre}} por elegirnos!</h5>
  <div id="txtDatosReserva" class="p-3">
    <p><b>Fecha de turno:</b> {{fecha}}</p>
    <p><b>Hora de turno:</b> {{hora}}</p>
    <p><b>Telefono:</b> {{telefono}}</p>
    <p><b>Email:</b> {{email}}</p>
    <p><b>Tratamiento:</b> {{tratamiento}}</p>
    <p><b>Comentarios:</b> {{comentario}}</p>
  </div>
  <!-- 
  <div class="mt-auto">
    <a href="/">&lt;&lt; Volver a la pagina principal</a>
  </div>
  -->
</div>